@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}
.main-container{
    max-width: 1280px;
    margin: 0 auto;
}

                                        /* common-style starts here  */
.common-h{
    font-size: 40px;
    font-weight: 700; 
    color: #0E0E0E;
}
.common-btn{
    font-size: 18px;
    padding: 15px 30px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: auto;
    transition: 0.1s;
}
.common-btn:hover{
    background-color: #925d09d2;
    color: white;
    transition: .3s;
}
.common-p{
    font-size: 16px;
    color: #0E0E0E;
    line-height: 24px;
}         

                                    /* common-style ends here  */
  
nav{
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
    align-items: center;
}
.nav-title{
    font-size: 32px;
}
.nav-btn{
    background-color: #F5F5F5;
    border: 2px solid #006A50;
    color: #006A50;
}
                                                                                    