@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}
.main-container{
    max-width: 70%;
    margin: 0 auto;
}

                                        /* common-style starts here  */
.common-h{
    font-size: 40px;
    font-weight: 700; 
    color: #0E0E0E;
}
.common-btn{
    font-size: 18px;
    padding: 15px 30px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.1s;
}
.common-btn:hover{
    background-color: #925d09d2;
    color: white;
    outline: none;
    transition: .3s;
}
.common-p{
    font-size: 16px;
    color: #0E0E0E;
    line-height: 24px;
}         

                                    /* common-style ends here  */
  
nav{
    display: flex;
    justify-content: space-between;
    padding: 31px 0;
    align-items: center;
}
.nav-title{
    font-size: 32px;
}
.nav-btn{
    background-color: #F5F5F5;
    border: 1px solid #006A50;
    color: #006A50;
}
                                          /* banner section style  */

.bannar-section{
    display: flex;
    gap: 64px;
    justify-content: space-between;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px;
    outline: none;
}
.bannar-sub-title{
    font-size: 24px;
    color: #0E0E0E;
    padding-bottom: 16px;
}
.bannar-sub-heading{
    font-size: 56px;
    padding-bottom: 24px;
}

                                        /* pillars-section */


.pillars-section{
    margin: 80px 0;
}
.pillars-container{
    display: flex;
    gap: 24px;
    padding-top: 32px;
}
.pillar-card{
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid silver;
}
.sub-title{
    font-size: 20px;
    padding: 24px 0 12px 0;
}



                                                /* vision section starts */




.vision-section{
    margin-bottom: 80px;
}
.vision-title{
    margin: 10px 0;
    padding: 10px;
}
.vision-card-container{
    display: flex;
    gap: 24px;
}
.vision-title .common-h{
    padding: 24px 0;
}
.vision-card-container button{
    margin-top: 24px;
}
.card-1{
    background-color: #9BCFFA;
}
.card-2{
    background-color: #C6E4D6;
}
.card-3{
    background-color: #F6EACE;
}
.btn-1{
    background-color: #5490F5;
}
.btn-2{
    background-color: #09A15C;
}
.btn-3{
    background-color: #FFC239;
}



                                                                                    